.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--small);
  justify-content: center;
  min-height: 100vh;
  padding: var(--xlarge);
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 600px) {
    max-width: 526px;
    margin: 0 auto;
  }
}
